

.light {
  margin: 0; 
  padding: 0; 
  background-image: url("./img/beautiful-blue-sky.jpg");
  background-size: cover;
  background-position: center;
  min-height:100vh; 
  display: flex;
  flex-direction: column;
}

.dark {
  margin: 0; 
  padding: 0; 
  background-image: url("./img/fluffy-clouds-blue.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
